@charset "UTF-8";
@import "../../css/_variable.scss";

.form-error {
  color: $form-error-font-red;

  &__required {
    background-color: $form-error-background-red;
  }

  &__json-invalid {
    background-color: $form-error-background-red;
  }
}
