@charset "UTF-8";
@import "apps/json-server-next/src/app/common/css/_variable.scss";

.edit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $edit-font-black;
}

.edit__menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.edit__menu__toggle {
  display: flex;
  align-items: center;
}

.edit__menu__toggle__text {
  margin-right: 8px;
}

.edit__menu__result--ok {
  background-color: $pale-green;
  border: 1px solid $green;
  border-radius: 4px;
  color: $green;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.edit__menu__result--error {
  background-color: $thin-red;
  border: 1px solid $red;
  border-radius: 4px;
  color: $red;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.edit__menu__button__register {
  display: inline-block;
}

.edit__form {
  display: inline-block;
  width: 80%;
}

.edit__form__name {
  margin-bottom: 5px;
}

.edit__form__name__label {
  display: block;
  margin-bottom: 5px;
}

.edit__form__name__input {
  border: 2px solid $edit-form-text-color;
}

.edit__form__raw-data__area {
  height: 30vh;
  width: 80%;
}

.edit__form__key-value__button {
  display: block;
  margin-bottom: 5px;
}

.edit__form__key-value__data {
  margin-bottom: 5px;
}
