<div class="edit">
  <div class="menu">
    <div>
      <span>Key-Value Data.</span>
      <mat-slide-toggle (change)="changeSlideToggle($event)">Raw Data.</mat-slide-toggle>
    </div>
    <atom-button class="menu__register" buttonText="登録" type="primary" (clickEvent)="register()"></atom-button>
  </div>
  <form [formGroup]="formGroup" class="form">
    <div class="form__name">
      <label class="form__name__label">name: <input class="form__name__input" formControlName="name"
                                                    type="text"></label>
      <app-form-error [form]="name"></app-form-error>
    </div>
    <div *ngIf="isRawData; else KeyValue">
      <label>
        Raw Data:<br/>
        <textarea class="form__raw-data__area" formControlName="rawData"></textarea>
      </label>
      <app-form-error [form]="rawData"></app-form-error>
    </div>
    <ng-template #KeyValue>
      <div formArrayName="keyValueList">
        <atom-button class="form__key-value__button" size="small" buttonText="Add List" (clickEvent)="addList()"></atom-button>
        <div *ngFor="let keyValue of keyValueList.controls; let i = index">
          <div class="form__key-value__data" [formGroupName]="i">
            <label>
              key: <input [formControlName]="'key' + i" type="text">
            </label>
            <label>
              value: <input [formControlName]="'value' + i" type="text">
            </label>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
