@charset "UTF-8";

// colors
$text-color: #333;
$thin-red: #fadbda;
$red: #ff0010;
$green: #2e8b57;
$pale-green: #b8e6cb;
// edit
$edit-form-text-color: #ddd;

// link color
$visited-link-color: #4c2472;

// border
$border-color: #000;

// header
$header-link-text-color: #333;
$header-border-color: #000;

// edit page
$edit-font-black: #333;

// form-error
$form-error-background-red: #fadbda;
$form-error-font-red: #ff0010;
