@charset "UTF-8";

// colors
$black: #333;
$gray: #ddd;
$thinRed: #fadbda;
$red: #ff0010;
$purple: #4c2472;

// header
$header-link-black: #333;
$header-border-black: #000;

// edit page
$edit-font-black: #333;

// form-error
$form-error-background-red: #fadbda;
$form-error-font-red: #ff0010;
